p{
    color: white;
    font-size: 8vw;
    font-family: "Rubik", sans-serif;
    margin: 0rem;
    text-transform: uppercase;
}
.line{
    display: flex;
    justify-content: space-between;
}
body {
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  #text:has(.fancy:hover) .word:not(.fancy){
    opacity: 0.2;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 8vw;
    font-family: "Rubik", sans-serif;
    margin: 0rem;
    text-transform: uppercase;
  }