/* Kaushan+Script, oregano, sail */
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

html,
body,
.container {
    height: 100%;
    font-family: "Kaushan Script", "Sail", cursive;
}

body {
    background: #e74;
    overflow: hidden;
    background-image: var(--gradient);

    background-size: 1400%;
    animation: bg-animation 20s infinite alternate;
    z-index: 99;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

:root {
    --gradient: linear-gradient(45deg,
            #2C73D2,
            #845ec2,
            #d65db1,
            #ff6f91,
            #FF8585,
            #FF9F76,
            #ffc75f,
            #FED364,
            #FCE068,
            #FBEC6D,
            #f9f871,
            #9BDE7E,
            #4BBC8E);
}


div#beach,
canvas#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.merrywrap {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background-color: transparent;
    background-image: var(--merryGrad);
    transition: background-image 10000000s ease;
    z-index: 1000;
    height: 100%;
    overflow: hidden;
    background-size: 500%;
    animation: bg-animation 50s infinite alternate;
}
:root {
    --merryGrad: linear-gradient(-45deg,
            #5456A3,
            #8C60A6,
            #B76EA4,
            #D781A2,
            #EE98A2,
            #FFB3A6,
            #FFCAAA,
            #FFDCBB,
            #FAEBD7);
}

:root {
    --ribbon: #D9ACF5;
}
.giftbox {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 40%;
    z-index: 10;
    margin-left: -150px;
    cursor: default;
}

.giftbox:active {
    cursor: pointer;
}

.giftbox>div {
    background: #C0EEF2;
    position: absolute;
}

.giftbox>div:after,
.giftbox>div:before {
    position: absolute;
    content: "";
    top: 0;
}

.giftbox:after {
    position: absolute;
    color: white;
    width: 100%;
    content: "click!";
    left: 0;
    bottom: 0;
    font-size: 50px;
    text-align: center;
    transform: rotate(-20deg);
    transform-origin: 0 0;

    background: #324B4D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;

    background-size: 100%;
    animation: bg-animation 1s infinite alternate;
}

:root {
    --clickGrad: linear-gradient(45deg,
            #39716A,
            #2E6368,
            #2D5662,
            #2F4858,
            #485A73);
}

.giftbox .cover {
    width: 100%;
    top: 0;
    left: 0;
    height: 25%;
    z-index: 2;
}

.giftbox .cover:before {
    position: absolute;
    height: 100%;
    left: 50%;
    width: 50px;
    transform: translateX(-50%);
    background: var(--ribbon);
}

.giftbox .cover>div {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}

.giftbox .cover>div:before,
.giftbox .cover>div:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: inset 0 0 0 15px var(--ribbon);
    border-radius: 30px;
    transform-origin: 50% 100%;
}

.giftbox .cover>div:before {
    transform: translateX(-45%) skewY(40deg);
}

.giftbox .cover>div:after {
    transform: translateX(45%) skewY(-40deg);
}

.giftbox .box {
    right: 5%;
    left: 5%;
    height: 80%;
    bottom: 0;
}

.giftbox .box:before {
    width: 50px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--ribbon);
}

.giftbox .box:after {
    width: 100%;
    height: 20px;
    background: rgba(134, 93, 255, 0.2);
}
.step-1 .giftbox {
    animation: wobble 0.5s linear infinite forwards;
}

.step-1 .cover {
    animation: wobble 0.5s linear infinite 0.1s forwards;
}


.step-2 .giftbox:after {
    opacity: 0;
}

.step-3 .giftbox,
.step-4 .giftbox {
    opacity: 0;
    z-index: 1;
}

.step-3 .giftbox:after,
.step-4 .giftbox:after {
    opacity: 0;
}

.step-2 .giftbox .cover {
    animation: flyUp 0.4s ease-in forwards;
}

.step-2 .giftbox .box {
    animation: flyDown 0.2s ease-in 0.05s forwards;
}

@keyframes wobble {
    25% {
        transform: rotate(4deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}

@keyframes flyUp {
    75% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px) rotate(20deg);
        opacity: 0;
    }
}

@keyframes flyDown {
    75% {
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
body{
    user-select: none;
}
#balloon-container {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: opacity 500ms;
}

.balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
}

.balloon:before {
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
}

.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes float {
    from {
        transform: translateY(100vh);
        opacity: 1;
    }

    to {
        transform: translateY(-300vh);
        opacity: 0;
    }
}

svg {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #faebd7;
    display: flex;
    justify-content: center;
    z-index: 9999999999;
}